div div {
    width: 500px;
    height: auto;
    margin: 30px 0;
    border: 3px solid black;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 5px;
}
.left{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    max-width: 300px;
    border: 0;
}
.right{
    display: flex;
    justify-content: flex-start;
    align-items:center;
    flex-direction: column;
    border: 1px dashed black;
    height: 340px;
}
img{
    max-width: 100%;
    border: 1px solid black;
    padding: 20px;
}
main{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    gap: 20px;
    height: 380px;
}
#opis{
    border: 1px solid black;
}
.right, .left  {
    margin: 0  20px;
}