*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color: #fbab3d;
}
header {
    background-image: url("./images/woman-in-restorant.jpg");
    height: 700px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    color: white;
    position: relative;
}
header .background {
    padding-inline: min(10vw, 200px);
    padding-block: 20px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}
header .info {
    display: flex;
    gap: 40px;
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 15px;
}
header nav ul li:first-child {
    color: var(--color);
}
header nav ul li:last-child {
    background-color: var(--color);
    height: 40px;
    width: 200px;
    font-size: 1.4rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

header .main-header {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
header .main-header .links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

header .main-header .links div {
    padding-inline: 30px;
    height: 40px;
    border-radius: 30px;
    border: 2px solid var(--color);
    display: flex;
    justify-content: center;
    align-items: center;
}
header .arrows {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .arrows #left-arrow {
    translate: 50px;
}
header .arrows #right-arrow {
    translate: -50px;
}
.dashes {
    position: absolute;
    bottom: 10px;
    left: 50%;
    translate: -50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.dash {
    width: 40px;
    height: 3px;
    background-color: rgb(133, 133, 133);
}
.dash:first-child {
    background-color: rgb(244, 244, 244);
}
section {
    margin-top: 40px;
}

.secound {
    padding-inline-end: 40px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5vw;
    background-color: #fff4e4;
    padding-bottom: 40px;
}

.secound .image {
    position: relative;
    height: fit-content;
}

.secound .image img {
    width: 620px;
    max-width: 100%;
}
.secound .image .play {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.secound .image .play i {
    display: block;
    width: 75px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: var(--color);
}

.secound h2 {
    color: rgb(62, 62, 62);
    font-weight: 500;
}
.secound h2 b {
    color: rgb(62, 62, 62);
    font-weight: 900;
}
.secound p {
    margin-block: 20px;
}
.secound ul {
    list-style-type: none;
}
.secound ul li {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

section h2 {
    font-style: italic;
    font-size: 2rem;
}
section h2 span {
    color: var(--color);
}

section > h2 + p {
    color: rgb(36, 36, 36);
    margin: 10px;
}

.third-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.third-section .cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
    padding-block-start: 30px;
    padding-inline: min(10vw, 200px);
}
.third-section .cards .card {
    max-width: 350px;
    height: 220px;
    padding: 20px;
    box-shadow: 0 1px 5px 2px rgb(175, 175, 175);
}

.third-section .cards .card h3 {
    font-style: italic;
    margin: 10px 0;
}

.third-section .cards .card h3:first-child {
    color: var(--color);
    font-size: 2rem;
    font-style: normal;
}
.third-section .cards .card p {
    color: rgb(133, 133, 133);
}
.menu {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-inline: min(10vw, 200px);
}
.menu .buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
.menu .buttons div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 20px;
    padding: 0 20px;
    border: 2px solid #c28a3c;
}
.menu .buttons div:first-child {
    color: white;
    background: var(--color);
    border: 0;
}
.menu-grid {
    margin-top: 40px;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 30px;
}

.menu-grid .top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.menu-grid .top hr {
    flex: 1;
}
.menu-grid .top h4 {
    color: var(--color);
    font-size: 1.2rem;
    font-weight: 700;
}
.specials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-inline: min(10vw, 200px);
}
.specials .cont {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    min-height: 300px;
    gap: 20px;
}
.specials .cont .left {
    width: 400px;
    display: flex;
    flex-direction: column;
    height: 200px;
}
.specials .cont .left h4 {
    height: 100%;
    border-right: 3px solid rgb(182, 181, 181);
}
.specials .cont .left h4:first-child {
    border-right: 3px solid var(--color);
}
.right {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.right img {
    border-radius: 50%;
    width: 100%;
    min-width: 300px;
}

.right .text {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
}
.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #faf6f0;
    padding-inline: min(10vw, 200px);
    padding-top: 20px;
}
.book form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    width: 100%;
    margin-top: 30px;
    background: white;
    box-shadow: 0 0 5px 2px rgb(199, 199, 199);
    padding: 30px;
    margin-bottom: 50px;
}
.book form input,
.book form input:focus {
    padding: 0 20px;
    height: 40px;
    border: 2px solid rgb(221, 221, 221);
    outline: 0;
    font-size: 15px;
}
.book form textarea,
.book form textarea:focus {
    grid-column: 1/4;
    padding: 20px;
    border: 2px solid rgb(221, 221, 221);
    outline: 0;
    font-size: 15px;
    height: 120px;
}

.book form .button {
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.book form button {
    grid-column: 2/3;
    outline: 0;
    border: 0;
    height: 50px;
    color: white;
    background-color: var(--color);
    font-size: 1rem;
    border-radius: 25px;
    padding: 0 30px;
    font-weight: bold;
}
.Chefs {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cards {
    padding-inline: min(10vw, 200px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
