*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.left{
    height: 100vh;
    background-color:aqua;
    width: 30% !important;
}
.center{
    height: 100vh;
    width: 40%;
    background-color: rgb(194, 164, 164);
}
.right{
    width: 30% !important;
    height: 100vh;
    background-color: blue;
}
table, th, td {
    border:1px solid black;
    border-collapse: collapse;
  }
