body {
    margin: 0;
}

p {
    font-family: Roboto, Arial;
    margin-top: 0;
    margin-bottom: 0;
}

.header {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-section {
    background-color: lightblue;
    width: 150px;
}

.middle-section {
    background-color: lightpink;
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
}

.right-section {
    background-color: lightblue;
}

.thumbnail {
    width: 100%;
    height: 228.55px;
    /*
    height: 300px;
    object-fit: cover;
    object-fit: contain;
    object-position: bottom;
    border-width: 2px;
    border-style: solid;
    border-color: red;
    */
}

.search-bar {
    display: block;
}

.video-title {
    width: 240px;
    margin-top: 0;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 12px;
}

.video-preview {
    /*
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
    width: 350px;
    */
}

.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}

.video-author,
.video-stats {
    width: 300px;
    display: block;
}

.channel-picture {}

.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.video-info {}

.profile-picture {
    width: 40px;
    border-radius: 50px;
}

.thumbnail-row {
    margin-bottom: 20px;
}

.video-author {
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 0;
    color: rgb(96, 96, 96);
    margin-bottom: 4px;
}

.video-stats {
    font-size: 12px;
    color: rgb(96, 96, 96);
}

#vuk {
    border-radius: 50px;
}

#yt-logo {
    width: 50px;
    overflow: hidden;
    display: inline-block;
}

#hamburger-meny {
    width: 20px;
    overflow: hidden;
    display: inline-block;
}

.search-button {
    width: 50px;
    display: inline-block;
}

#search-icon {
    width: 50px;
    display: inline-block;
}

#microphone {
    width: 20px;
}

.microphone-div {
    display: inline-block;
    width: 30px;
    background-color: gray;
}

#camer {
    width: 30px;
}
Footer
